body {
    background-color: palegreen;
}

header {
    text-align: center;
    font-size: 50px;
}
#p01{
    color:blue;
}

#p02{
    color:blue;
}
#p03{
    color:blue;
    border:1px blue;
}
button  {
    height: 50 px;
    width: : 100 px;
    background-color: coral;
    text-emphasis-color: white;
}
address {
    
    text-align: center;
    background-color: salmon;
    border:1px solidpowderblue;
    font-size: 13px;
    height: auto;
    width:100%;
}